#page-landing {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
}

#page-landing .content-wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 68.75rem;
  height: 100%;
  max-height: 42.5rem;
  background: url(../../images/landing.svg) no-repeat 80% center;
}

#page-landing .content-wrapper main {
  max-width: 21.87rem;
}

#page-landing .content-wrapper main h1 {
  font-size: 4.75rem;
  font-weight: 900;
  line-height: 4.375rem;
}

#page-landing .content-wrapper main p {
  margin-top: 2.5rem;
  font-size: 1.5rem;
  line-height: 2.125rem;
}

.content-wrapper .location {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  font-size: 1.5rem;
  line-height: 2.125rem;
  text-align: right;
}

.content-wrapper .location strong {
  font-weight: 800;
}

.content-wrapper .enter-app {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  width: 5rem;
  height: 5rem;
  background: #ffd666;
  border-radius: 1.875rem;
  transition: background-color 0.2s;
  cursor: pointer;
}

.content-wrapper .enter-app:hover {
  background: #96feff;
}